<?xml version="1.0"?>
<!--  name must be different from actual mapping contribution -->
<component name="org.unizin.cmp.lti.userMapping.mock">

  <require>org.nuxeo.ecm.platform.usermanager.UserManagerImpl</require>

  <extension target="org.nuxeo.usermapper.service.UserMapperComponent"
             point="mapper">
    <documentation>
      Contribute the default usermapper for LTI.
    </documentation>
    <mapper name="LTI" class="org.unizin.cmp.lti.MockUserMapper">
    </mapper>>
  </extension>

</component>
